build/
FINAL/
build
q2cathedral.exe
q2cathedral
*.o
*.a
*.sw~
*.un~
cscope.*
tags
.vs
web-server/node_modules/
web-server/public/

*.user
/Ultraverse/Setup/bin
/CMakeFiles
/temp
/Ultraverse/apo/*.aps
