build/
FINAL/
build
q2cathedral.exe
q2cathedral
*.o
*.a
*.sw~
*.un~
cscope.*
tags
star_echo
.vs
web-server/node_modules/
web-server/public/
*.flac
*.user
/Ultraverse/Setup/bin
/CMakeFiles
/temp
/Ultraverse/apo/*.aps
